In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [5]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

Upsampling

In [10]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [12]:
df_minority.head()

     feature_1  feature_2  target
900   0.699768   1.139033       1
901   0.367739   1.025577       1
902   0.795683   0.803557       1
903   1.213696   2.312255       1
904   2.033878   2.187417       1

In [13]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [15]:
from sklearn.utils import resample

In [16]:
df_minority_upsample = resample(df_minority,
                                replace=True,  # sample with replacement
                                n_samples=len(df_majority),  # to match majority class
                                random_state=42)  # reproducible results

In [17]:
df_minority_upsample.shape

(900, 3)

In [20]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [22]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [23]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [24]:
df_upsampled.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [25]:
df_upsampled.shape

(1800, 3)

Downsampling

In [26]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [27]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [28]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [29]:
df_majority_downsample = resample(df_majority,
                                replace=False,  # sample without replacement
                                n_samples=len(df_minority),  # to match majority class
                                random_state=42)  # reproducible results

In [30]:
df_majority_downsample.shape

(100, 3)

In [33]:
df_downsampled = pd.concat([df_majority_downsample, df_minority])

In [34]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64